.font-test-family {
  font-family: Chilanka;
}

.color-name {
  color: magenta;
}

.color-hex {
  color: #35b835;
}

.shorten-hex {
  color: #ccc;
}

.rgb {
  color: rgb(67, 100, 248);
}

.rgba {
  color: rgba(67, 100, 248, 0.549);
}

.hsl {
  color: hsl(37, 85%, 48%)
}